<html>
<head>
    <title>Mustache</title>
</head>
<body>
{{#todos}}
    <h2>Hello, {{user}}.</h2>
<small>Created on {{currentDate}}</small>
<p>{{text}}</p>
{{/todos}}
{{^todos}}
    <p>No todos!</p>
{{/todos}}
</body>
</html>